@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

html {
    font-family: "philosopher";
    scroll-behavior: smooth;
   
}

img {
    width: 100px;
    animation: flotar 2s infinite alternate;
}

h1,
h2,
h3,
p{
    color: rgb(139, 152, 177);
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor h1{
    margin-left: 30px;
}
nav {

    margin-left: auto;

}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(139, 152, 177);
}

.informacion {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 10%;
    
}

.subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitulo h2{
    margin: 1px;
    line-height: 1;
}

.imagen {
    display: flex;
    margin-top: 10%;
    
}


.conocimientos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25%;
   
  }

  .columna {
    width: 20%; /* Para que cada columna ocupe el 20% del ancho del contenedor */
    padding: 10px; /* Espacio entre las columnas */
    box-sizing: border-box; /* Para incluir el padding en el ancho */
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .columna img {
    width: 40%; /* Para que la imagen ocupe todo el ancho de la columna */
    height: auto; /* Para mantener la proporción de la imagen */
  }
  
   
  .proyectos {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 150px;
  }
  
  .contenedor-proyecto {
    display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  max-width: 800px; /* Ajusta según sea necesario */
  margin-bottom: 20px; /* Espacio entre proyectos */
   
    margin-bottom: 20px; /* Espacio entre proyectos */
  }
  
  .imagen-proyecto {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */

  }
  
  .imagen-proyecto , #htmlCssJs {
    width: 300px;
    height: auto;
  }

  .contenedor-proyecto {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    max-width: 800px; /* Ajusta según sea necesario */
    margin-bottom: 100px; /* Espacio entre proyectos */
  }
  .imagen-proyecto-crud {
    display: flex;
    flex-direction: row; /* Apila las imágenes verticalmente */
    margin-left: -150px;
  }
  .imagen-proyecto-crud img{
    width: 100px;
    height: auto;
    margin-right: 20px; /* Espacio entre imágenes */
  }
  
  .contenido-crud{
    flex:1;
    margin-left: 50px;
    
  }
  .imagen-proyecto-asp{
    display: flex;
    flex-direction: row; /* Apila las imágenes verticalmente */
    margin-left: -80px;
  }
  .imagen-proyecto-asp img{
    width: 120px;
    height: auto;
    margin-right: 0px; /* Espacio entre imágenes */
    
  }
  .imagen-proyecto-java{
    margin-left: 100px;
  }
  .imagen-proyecto-java img {
   width: 200px;
   height: auto;
   
  }

  .imagen-proyecto-csharp{
    margin-left: 100px;
  }
  .imagen-proyecto-csharp img{
    width: 200px;
    height: auto;
  }
  .contenido {
    margin-left: 100px; /* Espacio entre la imagen y el contenido */
  }
  
  .contenido h1 {
    margin: 0; /* Elimina el margen superior e inferior del h1 */
  }
  
  .contenido p {
    margin-bottom: 10px; /* Espacio entre la descripción y el botón */
  }
 
  .contenedor-contacto {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Alinear texto al centro */
    margin-top: 15%;
  }
  .contacto{
    width: 70%; /* Establece el ancho del div contacto */
    margin-bottom: 20px;
  }
  .contacto p{
    text-align: center;
  }
  .imagenes-contacto {
    display: flex;
    flex-wrap: wrap; /* Permitir que las imágenes se envuelvan */
    justify-content: center; /* Centrar horizontalmente */
  }
  .imagenes-contacto img {
    margin: 20px; /* Espacio entre las imágenes */
    width: 100px;
  }
  .texto-conocimiento {
    word-spacing: 100px;
    text-align: center; /* Alinear el texto al centro */
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: -20%; /* Espacio debajo del título */
    margin-top: 31%;
    /* animation: loop 10s linear infinite ; */
    
  }

  .texto-proyecto {
    
    text-align: center; /* Alinear el texto al centro */
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: -5%; /* Espacio debajo del título */
    margin-top: 30%;
   
  }
  .imagenes-contacto img:hover {
    cursor: pointer;
  }
  .contenedor-volver {
    position: fixed;
    bottom: 0px;
    right: 20px; /* Ajusta el valor según sea necesario para posicionar el contenedor a la derecha */
  }
  .contenedor-volver img{
    width: 50px;
  }
 
@keyframes flotar {
    0% {
      transform: translateY(0); /* Comienza sin desplazamiento vertical */
    }
    100% {
      transform: translateY(-10px); /* Desplaza la imagen hacia arriba */
    }
  }

@media screen and (max-width:915px) {
  .contenedor {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    padding: 20px; /* Añade espacio interno para mejor legibilidad */
  }
  

  nav {
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  nav a {
    margin-right: 0; /* Elimina el margen derecho */
    margin-top: 20px; /* Añade espacio entre los enlaces */
    padding: 10px;
  }
 
  
  .columna img {
    width: 120%; /* Para que la imagen ocupe todo el ancho de la columna */
    height: auto; /* Para mantener la proporción de la imagen */
  }
  .proyectos {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 150px;
  }
  
  .contenedor-proyecto {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna en dispositivos pequeños */
    max-width: 800px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Espacio entre proyectos */
    
  }
  
  .imagen-proyecto {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    margin-left: 50px;
  }
  
  .imagen-proyecto img {
    width: 300px;
    height: auto;
    align-items: center;
  }
  
  .contenido {
    max-width: 800px; /* Ajusta según sea necesario */
    margin-bottom: 100px; /* Espacio entre proyectos */
  }

  .imagen-proyecto-crud {
    display: flex;
    flex-direction: row; /* Apila las imágenes verticalmente */
    margin-left: 60px;
  }
  .imagen-proyecto-crud img{
    width: 100px;
    height: auto;
    margin-right: 20px; /* Espacio entre imágenes */
  }
  
  .contenido-crud{
    flex:1;
    margin-left: 100px;    
  }

  .imagen-proyecto-asp{
    display: flex;
    flex-direction: row; /* Apila las imágenes verticalmente */
    margin-left: 50px;
  }
  .imagen-proyecto-asp img{
    width: 130px;
    height: auto;
    margin-right: 0px; /* Espacio entre imágenes */
    
  }
  .imagen-proyecto-java{
    margin-left: 60px;
  }
  .imagen-proyecto-java img {
   width: 200px;
   height: auto;
   
  }

  .imagen-proyecto-csharp{
    margin-left: 100px;
  }
  .imagen-proyecto-csharp img{
    width: 200px;
    height: auto;
  }
  
  
}



  /* @keyframes loop {
    0%{
      transform: translateX(50%);
    }
    
    100%{
      transform: translateX(-55%);
    }
  } */
 